[General]
GFWListLocalFileDir = /Users/demonfox/.ShadowsocksX
GFWListLocalFileName = /Users/demonfox/.ShadowsocksX/gfwlist.js
AzureAccountName = demonfox
AzureAccountKey = PLACE_HOLDER 
AzureFileServiceDomain = file.core.windows.net
AzureFileShareName = myshare
AzureFileShareFileDir = GFWListEditor
AzureFileShareFileName = gfwlist.js
StartOfRules = var rules = [
EndOfRules = ];
